<nz-layout>
  <nz-header>
    <!-- <div class="logo"></div> -->
    <ul nz-menu nzTheme="dark" nzMode="horizontal">
      <li nz-menu-item routerLink="/operators" [nzMatchRouter]="true">
        My Operators
      </li>
      <li nz-menu-item routerLink="/party" [nzMatchRouter]="true">
        Roster
      </li>
      <li nz-submenu
        *ngIf="regionService.region$ | async as region"
        [nzTitle]="'Region: '+regionService.regions[region]" nzIcon="global">
        <ul>
          <li nz-menu-item
            *ngFor="let x of regionService.regions | keyvalue:keepObjectOrder"
            (click)="regionService.setRegion(x.key)"
            [nzSelected]="region === x.key">
            {{x.value}}
          </li>
        </ul>
      </li>
      <li nz-submenu
        *ngIf="regionService.language$ | async as language"
        [nzTitle]="'Language: '+regionService.languages[language]" nzIcon="flag">
        <ul>
          <li nz-menu-item
            *ngFor="let x of regionService.languages | keyvalue:keepObjectOrder"
            (click)="regionService.setLanguage(x.key)"
            [nzSelected]="language === x.key">
            {{x.value}}
          </li>
        </ul>
      </li>
    </ul>
  </nz-header>
  <nz-content>
    <div class="inner-content">
      <router-outlet></router-outlet>
    </div>
  </nz-content>
  <nz-footer>
    This site is not associated with or endorsed by Hypergryph Co. Ltd. or Yostar, Inc.<br>
    Arknights © 2017 Hypergryph Co. Ltd. / © 2018 Yostar, Inc.<br>
    All game assets and pictures © 2020 Yostar, Inc.<br>
    <br>
    <a href="https://github.com/yunacchi/akpb">Fork me on Github</a>
    - <a style="cursor: pointer;" (click)="exportData()">Export data</a>
    - <a style="cursor: pointer;" (click)="importData()">Import data</a>
    - <a style="cursor: pointer;" (click)="dataReset()">Reset data</a><br>
    Game assets and data retrived from <a href="https://github.com/Aceship/AN-EN-Tags" target="_blank">Aceship/AN-EN-Tags</a>,<br>
    powered by GraueNeko, Aceship, Faryzal2020,<br>
    with help and translations from dragonjet, Jetroyz and others on <a href="https://discord.gg/vJvAP8X" target="_blank">Discord</a>.
  </nz-footer>
</nz-layout>
