<nz-layout>
  <nz-header>
    <!-- <div class="logo"></div> -->
    <ul nz-menu nzTheme="dark" nzMode="horizontal">
      <li nz-menu-item routerLink="/operators">
        My Operators
      </li>
      <li nz-submenu [nzTitle]="'Region: '+regionService.regions[regionService.region]" nzIcon="global">
        <ul>
          <li nz-menu-item
            *ngFor="let x of regionService.regions | keyvalue:keepObjectOrder"
            (click)="regionService.setRegion(x.key)"
            [nzSelected]="regionService.region === x.key">
            {{x.value}}
          </li>
        </ul>
      </li>
      <li nz-submenu [nzTitle]="'Language: '+regionService.languages[regionService.language]" nzIcon="flag">
        <ul>
          <li nz-menu-item
            *ngFor="let x of regionService.languages | keyvalue:keepObjectOrder"
            (click)="regionService.setLanguage(x.key)"
            [nzSelected]="regionService.language === x.key">
            {{x.value}}
          </li>
        </ul>
      </li>
    </ul>
  </nz-header>
  <nz-content>
    <div class="inner-content">
      <router-outlet></router-outlet>
    </div>
  </nz-content>
  <nz-footer>
    This site is not associated with or endorsed by Hypergryph Co. Ltd. or Yostar, Inc.<br>
    Arknights © 2017 Hypergryph Co. Ltd. / © 2018 Yostar, Inc.<br>
    All game assets and pictures © 2020 Yostar, Inc.
  </nz-footer>
</nz-layout>
