html, body {
    height: 100%;
    margin: 0;
}
.avg-container {
    height: 100%;
    background-color: black;
    color: white;
    font-family: 'Helvetica', Arial, Helvetica, sans-serif;
    font-size: 16pt;
    user-select: none;
    position: relative;

    & > .avg-background {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 10;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        display: block;
        opacity: 0;
    }

    & > .avg-image {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 20;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        display: block;
        opacity: 0;
    }

    & > .avg-character-container {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 30;
        display: flex;
        flex-direction: row;

        & > .avg-character {
            flex: 1 1 0;
            display: none;
            background-position: center center;
            background-size: contain;
            background-repeat: no-repeat;
            &.active {
                display: block;
            }
        }
    }

    & > .avg-blocker {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 40;
        display: block;
    }

    & > .avg-text-box {
        position: absolute;
        z-index: 50;
        right: 20px;
        bottom: 20px;
        left: 20px;
        height: 100px;
        background-color: rgba($color: #000000, $alpha: 0.6);
        display: none;
        &.active {
            display: block;
        }

        $name-height: 25px;
        $name-v-padding: 5px;
        $name-h-padding: 15px;
        & > .avg-text-box-name {
            position: absolute;
            top: -( $name-height + 2 * $name-v-padding + $name-v-padding );
            left: -10px;
            line-height: 18pt;
            font-size: 18pt;
            height: $name-height;
            padding: $name-v-padding $name-h-padding;
            font-weight: bold;
            color: lightgrey;
            background-color: rgba($color: #000000, $alpha: 0.6);
        }
        & > .avg-text-box-content {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            margin: 15px;
        }
    }

    & > .avg-cursor-overlay {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 51;
        display: block;
        cursor: pointer;
    }

    & > .avg-decision-container {
        position: absolute;
        z-index: 60;
        right: 0;
        bottom: 0;
        left: 0;
        height: 0;
        background-color: rgba($color: #000000, $alpha: 0.6);
        display: none;
        &.active {
            display: block;
        }
    }
}