<div *ngIf="char$ | async as c">

  <h1 class="page-title">{{c.tl.name}}</h1>

  <div class="data-container">

    <div class="card">
      <ak-character-card [chara]="c"></ak-character-card>
    </div>
    <div class="info">
      <div class="data-form">

        <div class="form-row">
          <div class="form-label">Elite</div>
          <div class="form-control">
            <nz-radio-group class="img-radio-group"
              [ngModel]="c.evolvePhase"
              (ngModelChange)="setEvolvePhase(c, $event)"
              [nzButtonStyle]="'solid'">
              <label nz-radio-button [nzValue]="0" title="No Elite">
                <img crossorigin="anonymous" [src]="getPhaseUrl(0)" alt="No Elite">
              </label>
              <label nz-radio-button [nzValue]="1" *ngIf="c.data.phases.length > 1" title="Elite 1">
                <img crossorigin="anonymous" [src]="getPhaseUrl(1)" alt="Elite 1">
              </label>
              <label nz-radio-button [nzValue]="2" *ngIf="c.data.phases.length > 2" title="Elite 2">
                <img crossorigin="anonymous" [src]="getPhaseUrl(2)" alt="Elite 2">
              </label>
              <label nz-radio-button [nzValue]="3" *ngIf="c.data.phases.length > 3" title="Elite 3">
                <img crossorigin="anonymous" [src]="getPhaseUrl(3)" alt="Elite 3">
              </label>
            </nz-radio-group>
          </div>
        </div>

        <div class="form-row">
          <div class="form-label">Level</div>
          <div class="form-control">
            <nz-input-number
              style="width: 60px; display: inline-block;"
              [nzMin]="1"
              [nzMax]="c.data.phases[c.evolvePhase].maxLevel"
              [ngModel]="c.level"
              (ngModelChange)="c.setLevel($event); saveChara(c);"></nz-input-number>
            <nz-slider
              style="width: 200px; display: inline-block; margin-left: 5px; vertical-align: bottom;"
              [nzMin]="1"
              [nzMax]="c.data.phases[c.evolvePhase].maxLevel"
              [ngModel]="c.level"
              (ngModelChange)="c.setLevel($event); saveChara(c);"></nz-slider>
          </div>
        </div>

        <div class="form-row">
          <div class="form-label">Trust</div>
          <div class="form-control">
            <nz-input-number
              style="width: 60px; display: inline-block;"
              [nzMin]="0"
              [nzMax]="200"
              [ngModel]="c.trustPct"
              (ngModelChange)="c.setTrust($event); saveChara(c);"></nz-input-number>
            <nz-slider
              style="width: 200px; display: inline-block; margin-left: 5px; vertical-align: bottom;"
              [nzMin]="0"
              [nzMax]="200"
              [ngModel]="c.trustPct"
              (ngModelChange)="c.setTrust($event); saveChara(c);"></nz-slider>
          </div>
        </div>

        <div class="form-row">
          <div class="form-label">Potential</div>
          <div class="form-control">
            <nz-radio-group class="img-radio-group"
              [ngModel]="c.potentialRank"
              (ngModelChange)="setPotential(c, $event)"
              [nzButtonStyle]="'solid'">
              <label nz-radio-button [nzValue]="0">
                <img crossorigin="anonymous" [src]="getPotentialUrl(0)">
              </label>
              <label nz-radio-button [nzValue]="1">
                <img crossorigin="anonymous" [src]="getPotentialUrl(1)">
              </label>
              <label nz-radio-button [nzValue]="2">
                <img crossorigin="anonymous" [src]="getPotentialUrl(2)">
              </label>
              <label nz-radio-button [nzValue]="3">
                <img crossorigin="anonymous" [src]="getPotentialUrl(3)">
              </label>
              <label nz-radio-button [nzValue]="4">
                <img crossorigin="anonymous" [src]="getPotentialUrl(4)">
              </label>
              <label nz-radio-button [nzValue]="5">
                <img crossorigin="anonymous" [src]="getPotentialUrl(5)">
              </label>
            </nz-radio-group>
          </div>
        </div>

        <div class="form-row">
          <div class="form-label" style="vertical-align: top;">
            <div style="margin-top: 8px;">Stats</div>
          </div>
          <nz-descriptions class="form-control" nzBordered nzSize="small">
            <nz-descriptions-item nzTitle="Max HP">
              {{c.stats.maxHp}}
            </nz-descriptions-item>
            <nz-descriptions-item nzTitle="ATK">
              {{c.stats.atk}}
            </nz-descriptions-item>
            <nz-descriptions-item nzTitle="DEF">
              {{c.stats.def}}
            </nz-descriptions-item>
            <nz-descriptions-item nzTitle="RES">
              {{c.stats.magicResistance}}
            </nz-descriptions-item>
            <nz-descriptions-item nzTitle="Cost">
              {{c.stats.cost}}
            </nz-descriptions-item>
            <nz-descriptions-item nzTitle="Blocks">
              {{c.stats.blockCnt}}
            </nz-descriptions-item>
            <nz-descriptions-item nzTitle="ASPD">
              {{c.stats.attackSpeed}}
            </nz-descriptions-item>
            <nz-descriptions-item nzTitle="Redeploy">
              {{c.stats.respawnTime}}
            </nz-descriptions-item>
          </nz-descriptions>
        </div>


        <div class="form-row">
          <div class="form-label">Skin</div>
          <div class="form-control">
            <nz-radio-group class="img-radio-group"
              [ngModel]="c.overrideSkinId"
              (ngModelChange)="setSkin(c, $event)"
              [nzButtonStyle]="'solid'">
              <label nz-radio-button [nzValue]="undefined">
                Default
              </label>
              <label nz-radio-button *ngFor="let s of getSkins(c)" [nzValue]="s.skinId" [title]="s.skinId">
                <img crossorigin="anonymous" [src]="getSkinImg(s)" [attr.alt]="s.skinId">
              </label>
            </nz-radio-group>
          </div>
        </div>

        <div class="form-row">
          <div class="form-label">Skill</div>
          <div class="form-control">
            <nz-radio-group class="img-radio-group"
              [ngModel]="c.defaultSkillIndex"
              (ngModelChange)="setDefaultSkill(c, $event)"
              [nzButtonStyle]="'solid'">
              <label nz-radio-button *ngFor="let s of c.skills; index as i;" [nzValue]="i" [title]="s.skillId">
                <img crossorigin="anonymous" [src]="getSkillImg(s)" [attr.alt]="s.skillId">
              </label>
            </nz-radio-group>
          </div>
        </div>

        <div class="form-row" style="margin-top: 20px;">
          <div class="form-label">Actions</div>
          <div class="form-control">
            <button nz-button nzType="primary"
              *ngIf="!c.hired"
              (click)="hire(c);">
              Add to My Operators
            </button>
            <button nz-button nzType="danger"
              *ngIf="c.hired"
              (click)="fire(c);">
              Remove from My Operators
            </button>
          </div>

      </div>

    </div>
    <a class="illust" [ngStyle]="{'background-image': 'url('+getIllustUrl(c)+')'}" [href]="getIllustUrl(c)"
      target="_blank">

    </a>

  </div>

</div>
